<!-- <button type="button" [routerLink]="[ '../products' ]" routerLinkActive="active"  class="btn btn-secondary mr-2">Список всіх товарів</button> -->
<button type="button" [routerLink]="[ 'products-list' ]" routerLinkActive="active" class="btn btn-secondary mr-2">Список всіх товарів новий</button>
<button type="button" [routerLink]="[ 'add-produc' ]" routerLinkActive="active" class="btn btn-secondary">Додати новий товар</button>
<!-- <button type="button" [routerLink]="[ 'edit-product' ]" routerLinkActive="active">редагувати товар</button> -->
<!-- <button type="button">Скопіювати товар...</button> -->

<router-outlet></router-outlet>

