<p>admin-products works!</p>
<button type="button" [routerLink]="[ '../products' ]" routerLinkActive="active">Список товарів</button>
<button type="button" [routerLink]="[ 'add-produc' ]" routerLinkActive="active">додати товар</button>
<button type="button" [routerLink]="[ 'edit-product' ]" routerLinkActive="active">редагувати товар</button>
<button type="button">Скопіювати товар...</button>

<router-outlet></router-outlet>

<div class="product-list">
  <div class="container-fluid">

    <div class="col-12 border">
      <hr>
      <h2>Список всіх товарів</h2>
    </div>

    <div class="row">
      <div class="col-12 border">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col col-form-label">Пошук товару:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">

      <div class="col-3 border">
        <div class="filter-container">
          <div class="category-container border">
            <h3>Категорії</h3>
            <div class="list-width-all-categoryes border">

            </div>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="all-roducts-container">

          <div *ngFor="let oneProduct of allProducts; let i = index" class="oneProduct-container border shadow ">
            <div class="numbItem">
              <span>
                {{i+1}}
              </span>
            </div>

            <div class="imageProduct">
              <a [href]=trimimageUrlList(oneProduct,i) target="_blank"  ngbTooltip="Переглянути фото в новій вкладці" [openDelay]="300"
              [closeDelay]="150">
                <img [src]=trimimageUrlList(oneProduct,i)>
              </a>
            </div>



            <div class="ptoduct-text-container">
              <div class="title">
                <h3>{{oneProduct?.title}}</h3>
                <p>Атрикул: {{oneProduct?.idProduct}}</p>

              </div>
              <div class="status">
                <span *ngIf="oneProduct?.status">Активний</span>
                <span *ngIf="!oneProduct?.status">Не активний</span>
                <span>В наявності:
                  <span *ngIf="(oneProduct?.count === 0)">
                    необмежена кількість
                  </span>
                  <span *ngIf="(oneProduct?.count > 0)">
                    {{oneProduct?.count}}
                  </span>
                </span>
              </div>
              <div class="showInHomePage">
                <small>Показувати на домашній сторінці:
                  <span *ngIf="oneProduct?.showTheProductOnTheStoreHomePage">ТАК</span>
                  <span *ngIf="!oneProduct?.showTheProductOnTheStoreHomePage">НІ</span>
                </small>
              </div>
            </div>

            <div class="price">
              <p>{{oneProduct?.price}} грн.</p>

              <small>
                Дата створення:
                {{oneProduct?.dateCreation.dateDay}}/{{oneProduct?.dateCreation.dateMonth}}/{{oneProduct?.dateCreation.dateYear}}
              </small>
            </div>

            <div class="buttonsForEdit">
              <span class="cursorPointer span-color-hover" ngbTooltip="Редагувати категорію" [openDelay]="300"
                [closeDelay]="150">
                <span class="span-color-hover"> Редагувати</span><i class="far fa-edit span-color-hover"></i>
              </span>

              <span (click)="deleteCategory(oneProduct)" class="cursorPointer span-color-hover"
                ngbTooltip="Видалити категорію" [openDelay]="300" [closeDelay]="150">
                <span class="span-color-hover">Видалити</span>
                <i class="far fa-trash-alt span-color-hover"></i>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
